<h2>HalfGap (halfgap.herokuapp.com)</h2>
<img ng-src="halfgap.png" height="350px"/>
<p>A social media app which geo locates two friends and finds an equidistant meet up location based on your criteria (food, bar, movie, etc.).</p>