<h2>HalfGap</h2>
<a href="https://halfgap.herokuapp.com" target='blank'>
  <img ng-src="halfgap.png" height="350px"/>
</a>
<p>A mobile-friendly, social media app that geolocates two friends and finds an equidistant meet up location based on your criteria (food, bar, movie, etc.).</p>