<div class="container">
  <div class="row">
  <div class="col-sm-3 projects-navigation">
    <h4>Projects</h4>
    <ul class="nav nav-pills nav-stacked">
      <li><a ui-sref="projects.halfgap">Halfgap</a>
      <li><a ui-sref="projects.ozymandias">Ozymandias Media</a></li>
      <li><a ui-sref="projects.keyfree">Keyfree</a></li>
      <li><a ui-sref="projects.instagram">Instagram API</a></li>

    </ul>
  </div>
  <div class="col-sm-9">
    <div class="projects-view-container">
      <div class="projects-ui-view" ui-view></div>
    </div>
  </div>
  </div>

</div>