<h2>Marketing</h2>
<a href="https://drive.google.com/file/d/0B4FjTVMjFtuHY2ZMSGMzazdBOFE/edit" target='blank'>
  <img ng-src="marketing.png" height="350px"/>
</a>
<p>Email marketing campaigns I've created (click to download samples)</p>