<div class="container">
  <h1>Contact</h1>
    <div class="row">
    <!-- <div class="col-sm-12 col-lg-12">
     <h1>Contact</h1>
    </div> -->

    <div class="col-sm-9 col-lg-9">
        <p>Interested in chatting? Feel free to connect with me over any of the social networks listed in the footer or go ahead and send me a quick email at marc.wright@gmail.com.</p>
        <br>

        <p>If you'd like to take a look at my resume, <a href="/resume">please do.</a></p>
    </div>
     
  </div>
</div>

