<h2>Instagram Trail Search</h2>
<a href="https://trail-app.herokuapp.com/" target='blank'>
  <img ng-src="trail_search.png" height="350px" width="350px"/>
</a>
<p>Using HTTParty to query the Instagram API</p>