<div class="container">
  <div class="row" style="font-size:14px">
    <div class="col-lg-2 col-md-2">
    <!-- <div class="container">
      <div class="col-sm-9 col-lg-5 col-md-6 animated fadeInRight">
        <a href="https://halfgap.herokuapp.com" target='blank'>
          <img class="work-img" ng-src="halfgap390.png"/>
          <div class="overlay">
          <p>+</p>
        </div>
        </a>

        <div class="overlay">
          <p>+</p>
        </div>
      </div>

      <div class="col-sm-9 col-lg-4 col-md-6 animated fadeInLeft">
        <h2>HalfGap</h2>
        <p class="work-text">Technologies Used: Ruby on Rails, Google Maps, AngularJS, PostgreSQL, Bootstrap</p>
        <h4>A mobile-first, social media app that geolocates two friends and finds an equidistant meet up location based on your criteria (food, bar, movie, etc.). <em>Please re-size your browser to a mobile view.</em></h4>
      </div>
    </div> -->

    <br><br>

    <div class="container">
      <div class="col-sm-9 col-lg-5 col-md-6 animated fadeInRight">
        <a href="http://ozymandiasmedia.com">
          <img class="work-img" ng-src="oz390.png"/>
        </a>
      </div>

      <div class="col-sm-9 col-lg-5 col-md-6 animated fadeInLeft">
        <h2>Ozymandias Media</h2>
        <p class="work-text">Technologies Used: HTML5, CSS, Parallax, Javascript, jQuery</p>
        <h4>A rebrand of a production company website</h4>
         <br>
      </div>
    </div>

    <br><br>

    <div class="container">
      <div class="col-sm-9 col-lg-5 col-md-6 col-md-4 animated fadeInRight">
        <a href="http://www.zenfoods.com/">
          <img class="work-img" ng-src="zen390.png"/>
        </a>
      </div>

      <div class="col-sm-9 col-lg-5 col-md-6 animated fadeInLeft">
        <h2>Zen Foods</h2>
        <p class="work-text">Technologies Used: PHP, Wordpress, jQuery, HTML, CSS</p>
        <h4>A healthy nutrition subscription program</h4>
         <br>
      </div>
    </div>

    <br><br>

    <div class="container">
      <div class="col-sm-9 col-lg-5 col-md-6 animated fadeInRight">
        <a href="http://groovv.appspected.com/">
          <img class="work-img" ng-src="groovv390.png"/>
        </a>
      </div>

      <div class="col-sm-9 col-lg-5 col-md-6 animated fadeInLeft">
        <h2>Groovv</h2>
        <p class="work-text">Technologies Used: PHP, Wordpress, jQuery, HTML, CSS</p>
        <h4>A B2B integrated payment system</h4>
         <br>
      </div>
    </div>

    <br><br>

    <div class="container">
      <div class="col-sm-9 col-lg-5 col-md-6 animated fadeInRight">
        <a href="https://whatcanibring.herokuapp.com/">
          <img class="work-img" ng-src="wcib390.png"/>
        </a>
      </div>

      <div class="col-sm-9 col-lg-5 col-md-6 animated fadeInLeft">
        <h2>What Can I Bring?</h2>
        <p class="work-text">Technologies Used: Ruby on Rails, Twilio, Google Maps, Material Design</p>
        <h4>Track party guests in real time and request that they pick up a last minute item</h4>
         <br>
      </div>
    </div>

    <br><br>

    <div class="container">
      <div class="col-sm-9 col-lg-5 col-md-6 animated fadeInRight">
        <a href="http://ofdogsandmen.net/">
          <img class="work-img" ng-src="dogsandmen390.png"/>
        </a>
      </div>

      <div class="col-sm-9 col-lg-5 col-md-6 animated fadeInLeft">
        <h2>Of Dogs and Men</h2>
        <p class="work-text">Technologies Used: Wordpress</p>
        <h4>Contributor to this documentary website</h4>
         <br>
      </div>
    </div>

    <br><br>

    <div class="container">
      <div class="col-sm-9 col-lg-5 col-md-6 animated fadeInRight">
        <a href="http://marcwright.github.io/addie-finn-cole/">
          <img class="work-img" ng-src="tic.png"/>
        </a>
      </div>
   

      <div class="col-sm-9 col-lg-5 col-md-6 animated fadeInLeft">
        <h2>Tic-Tac-Toe with Addie Finn + Cole</h2>
        <p class="work-text">Technologies Used: HTML, CSS, Javascript</p>
        <h4>Jib-Jab for Tic-Tac-Toe</h4>
         <br>
      </div>
    </div>
    

  <!--   <div class="container">
      <div class="col-sm-9 col-lg-5 col-md-6 animated fadeInRight">
        <a href="https://drive.google.com/file/d/0B4FjTVMjFtuHY2ZMSGMzazdBOFE/edit">
          <img class="work-img" ng-src="marketing390.png"/>
        </a>
      </div>
   

      <div class="col-sm-9 col-lg-5 col-md-6 animated fadeInLeft">
        <h2>Marketing</h2>
        <p class="work-text">Technologies Used: HTML, CSS, Act-On</p>
        <h4>Email marketing campaigns I've created (click to download samples)</h4>
         <br>
      </div>
    </div> -->

    <br><br>
    </div>
  </div>
</div>

