<div class="container">
  <div class="row" style="font-size:14px">
    <div class="col-lg-2 col-md-2">
    <div class="container">
      <div class="col-sm-9 col-lg-5 col-md-6">
        <a href="https://halfgap.herokuapp.com" target='blank'>
          <img class="work-img" ng-src="halfgap390.png"/>
        </a>
      </div>

      <div class="col-sm-9 col-lg-4 col-md-6">
        <h2>HalfGap</h2>
        <p class="work-text">Technologies Used: Ruby on Rails, Google Maps, AngularJS, PostgreSQL, Bootstrap</p>
        <h4>A mobile-first, social media app that geolocates two friends and finds an equidistant meet up location based on your criteria (food, bar, movie, etc.).</h4>
      </div>
    </div>

    <br><br>

    <div class="container">
      <div class="col-sm-9 col-lg-5 col-md-6">
        <a href="https://ozyandiasmedia.com" target='blank'>
          <img class="work-img" ng-src="oz390.png"/>
        </a>
      </div>

      <div class="col-sm-9 col-lg-5 col-md-6">
        <h2>Ozymandias Media</h2>
        <p class="work-text">Technologies Used: HTML5, CSS, Parallax, Javascript, jQuery</p>
        <h4>A rebrand of this production company's website</h4>
         <br>
      </div>
    </div>

    <br><br>

   <!--  <div class="container">
      <div class="col-sm-9 col-lg-5 col-md-6">
        <a href="https://keyfree.herokuapp.com/" target='blank'>
          <img class="work-img" ng-src="keyfree390.png"/>
        </a>
      </div>

      <div class="col-sm-9 col-lg-5 col-md-6">
        <h2>Keyfree</h2>
        <p>BYOB without the fee</p>
         <br>
        <h4>Technologies Used:</h4>
        <p>Google Maps, AngularJS, Ruby on Rails, PostgreSQL, Bootstrap</p>
      </div>
    </div>

    <br><br> -->

    <div class="container">
      <div class="col-sm-9 col-lg-5 col-md-6">
        <a href="https://trail-app.herokuapp.com/" target='blank'>
          <img class="work-img" ng-src="trail390.png"/>
        </a>
      </div>

      <div class="col-sm-9 col-lg-5 col-md-6">
        <h2>Instagram Trail Search</h2>
        <p class="work-text">Technologies Used: Ruby on Rails, HTTParty, Instagram API</p>
        <h4>Find Instagram trail photos</h4>
         <br>
      </div>
    </div>
    
    <br><br>

    

    <div class="container">
      <div class="col-sm-9 col-lg-5 col-md-6 col-md-4">
        <a href="http://www.zenfoods.com/" target='blank'>
          <img class="work-img" ng-src="zen390.png"/>
        </a>
      </div>

      <div class="col-sm-9 col-lg-5 col-md-6">
        <h2>Zen Foods</h2>
        <p class="work-text">Technologies Used: PHP, Wordpress, jQuery, HTML, CSS</p>
        <h4>A healthy nutrition subscription program</h4>
         <br>
      </div>
    </div>

    <br><br>

    <div class="container">
      <div class="col-sm-9 col-lg-5 col-md-6">
        <a href="http://groovv.appspected.com/" target='blank'>
          <img class="work-img" ng-src="groovv390.png"/>
        </a>
      </div>

      <div class="col-sm-9 col-lg-5 col-md-6">
        <h2>Groovv</h2>
        <p class="work-text">Technologies Used: PHP, Wordpress, jQuery, HTML, CSS</p>
        <h4>A B2B integrated payment system</h4>
         <br>
      </div>
    </div>

    <br><br>

    <div class="container">
      <div class="col-sm-9 col-lg-5 col-md-6">
        <a href="https://drive.google.com/file/d/0B4FjTVMjFtuHY2ZMSGMzazdBOFE/edit" target='blank'>
          <img class="work-img" ng-src="marketing390.png"/>
        </a>
      </div>
   

      <div class="col-sm-9 col-lg-5 col-md-6">
        <h2>Marketing</h2>
        <p class="work-text">Technologies Used: HTML, CSS, Act-On</p>
        <h4>Email marketing campaigns I've created (click to download samples)</h4>
         <br>
      </div>
    </div>

    <br><br>
    </div>
  </div>
</div>

