<footer class="footer">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/resume">Resume</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
      <li class="social-media-logo">
        <a href="https://www.linkedin.com/in/marcwright1" target="blank" >
          <img ng-src="li_logo.png" height="20px" width="20px"/>
        </a>
      </li>
    </ul>  
  </div>
</footer>