<div class="container">
  <div class="row">
    <div class="container">
      <div class="col-lg-1 col-md-1">
      </div>
      <div class="col-sm-9 col-lg-4 col-md-5">
        <img ng-src="marcpic300.png"/>
      </div>
      <div class="col-sm-9 col-lg-4 col-md-5">
        <h1>Hi. My name is Marc.</h1>
        <h1>I build cool stuff for the web.</h1>
      </div>
	<!-- <ul>
		<li ng-repeat="thing in things">{{thing}}</li>
    <li>Testing ng repeat</li>
	</ul> -->
  </div>
</div>