<!DOCTYPE html>
<html>
<head>
  <title>Marc Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
   <script data-require="ui-bootstrap@*" data-semver="0.11.0" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body ng-app="myApp">

  <%= yield %>

</body>
</html>
